@model PodcastModel

@{
    ViewBag.Title = "Podcast Feed";
}

<h3>Vælg en kanal og et program</h3>

<div class="row">
    <div class="col-md-3">
        @Html.DropDownListFor(x => x.SelectedChannel, new SelectList(Model.AvailableChannels, "Value", "Text"), "Vælg kanal", new {@class = "form-control"})
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(x => x.SelectedShow, new SelectList(Model.AvailableShows, "Value", "Text"), "Vælg program", new {@class = "form-control"})
    </div>
</div>

<div class="row" id="showDetailsDiv">
    <div class="col-md-2">
        <img id="showImg" alt=""/>
    </div>
    <div class="col-md-4">
        <h4 id="showTitle"></h4>
        <p id="showDetails"></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="feedItemsTable" class="table"></table>
    </div>
</div>

<script type="text/javascript">
    $(initTable = function () {
        $("#showDetailsDiv").hide();
        $("#feedItemsTable").hide();
        $("#feedItemsTable").html('<thead><tr><th class="col-md-1">Afspil</th><th class="col-md-1">Hent</th><th class="col-md-7">Beskrivelse</th><th class="col-md-1">Varighed</th><th class="col-md-1">Størrelse</th><th class="col-md-1">Udgivet</th></tr></thead><tbody></tbody>');
    });

    $(function () {
        $("#SelectedChannel").change(function () {
            initTable();
            var val = $(this).val();
            var subItems = "";
            $.getJSON("@Url.Action("GetShows","Podcast")", { name: val }, function (data) {
                $.each(data, function (index, item) {
                    subItems += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                });
                $("#SelectedShow").html(subItems);
            });
        });
    });

    $(function () {
        $("#SelectedShow").change(function () {
            var val = $(this).val();
            var showModel = JSON.parse(val);
            initTable();
            $("#showImg").attr("src", showModel.ImageLinkScaled);
            $("#showTitle").text(showModel.Title);
            $("#showDetails").text(showModel.Type + ' / ' + showModel.Channel);
            $("#showDetailsDiv").show();
            var tableBody;
            $.getJSON("@Url.Action("GetFeedItems","Podcast")", { feedUrl: showModel.XmlLink }, function (data) {
                $.each(data.FeedItems, function (index, item) {
                    tableBody += '<tr><td><div class="text-center"><a href="';
                    tableBody += item.Url;
                    tableBody += '" target="_blank"><i style="font-size: 1.5em;" class="text-center success glyphicon glyphicon-play-circle"></i></a></div></td><td><div class="text-center"><a download href="';
                    tableBody += item.Url;
                    tableBody += '" target="_blank"><i style="font-size: 1.5em;" class="text-center text-success glyphicon glyphicon-download"></i></a></div></td><td>';
                    tableBody += item.Summary;
                    tableBody += '</td><td class="text-right">';
                    tableBody += item.Duration;
                    tableBody += '</td><td class="text-right">';
                    tableBody += item.Size;
                    tableBody += '</td><td class="text-right">';
                    tableBody += item.PublishDate;
                    tableBody += '</td></tr>';
                });

                $('#feedItemsTable tbody').html(tableBody);

            });

            $("#feedItemsTable").show();
        });
    });
</script>
